.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

h2.text-center {
    margin-bottom: 20px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}


.centered-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

form .form-group label {
    font-weight: bold;
}

form .form-group input,
form .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

form .form-group input[type="file"] {
    padding: 8px;
}

form .btn {
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .centered-form {
        width: 90%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    form .form-group label {
        font-size: 14px;
    }

    form .form-group input,
    form .form-group textarea {
        padding: 8px;
    }

    form .btn {
        padding: 8px 10px;
    }
}